* {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}
html {
  font-size: 18px;
}
#body {
  width: 375px;
  height: 800px;
}
.resultBox {
  width: 100%;
  height: 45%;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}
.resultBox h3 {
  color: #a496fb;
}
.scoreDisplay {
  width: 120px;
  height: 120px;
  color: hsl(221, 100%, 96%);
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}
.scoreDisplay h1 {
  font-size: 3rem;
  margin: -5px 0;
}
.scoreComment {
  text-align: center;
  width: 300px;
  color: hsl(221, 100%, 96%);
  margin: 10px 0;
}
.scoreComment p {
  color: hsl(241, 100%, 89%);
}
.summaryBox {
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1px 10px;
}
.summaryBox h4 {
  margin-left: 10px;
  font-size: 1.5rem;
}
.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.flex i {
  margin: 2px 15px;
  font-size: 1rem;
}
.red {
  width: 100%;
  border-radius: 10px;
  padding: 10px 4px;
  margin: 5px 5px;
  background: hsl(0, 100%, 67%, 0.2);
}
.red h3 {
  color: hsl(0, 100%, 67%);
}

.yellow {
  width: 100%;
  border-radius: 10px;
  padding: 10px 4px;
  margin: 5px 5px;
  background: hsl(39, 100%, 56%, 0.2);
}
.yellow h3 {
  color: hsl(39, 100%, 56%);
}
.teal {
  width: 100%;
  border-radius: 10px;
  padding: 10px 4px;
  margin: 5px 5px;
  background: hsl(166, 100%, 37%, 0.2);
}
.teal h3 {
  color: hsl(166, 100%, 37%);
}
.blue {
  width: 100%;
  border-radius: 10px;
  padding: 10px 4px;
  margin: 5px 5px;
  background: hsl(234, 85%, 45%, 0.2);
}
.blue h3 {
  color: hsl(234, 100%, 45%);
}
.continue {
  width: 330px;
  /* height: 50px; */
  background: hsl(224, 30%, 27%);
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  color: white;
  font-size: 1rem;
}



@media screen and (min-width: 375px) {
  #body {
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .summaryBox {
    width: 100%;
    height: 50%;
    padding: 0 20px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
  .resultBox {
    padding: 30px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  }
}